<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+LMp5njh5L5fK5Dn/zcx5l5vlDoeAe3r4I5F5Ef5m5f5tk5P5" crossorigin="anonymous">
    <title>DigitalTechBooks</title>
</head>

<body>
    <header>
        <app-header-landing></app-header-landing>
    </header>

    <div class="secciones">
        <section class="inicio-page">
            <div class="texto-inicio">
                <h1>DigitalTechBooks</h1>
                <p>Sumérgete en las páginas de libros, revistas y recursos digitales que te ofrecemos. En cada clic,
                    encontrarás un mundo nuevo por descubrir. ¿Estás listo para comenzar tu viaje?</p>
                <button>Explorar</button>
            </div>
            <div class="img-inicio">
                <img src="../../assets/images/landing/Books.png" alt="">
            </div>
        </section>
        <section class="servicios-landing">
            <h1>Amplia Gama de Contenido</h1>
            <div class="boxes-container">
                <div style="left: 20%;" class="box">
                    <div class="figure">
                        <img src="../../assets/images/landing/imagen5.png" alt="">
                        <div class="caption">
                            <div class="about">
                                <h2>Libros impresos</h2>
                                <p>La colección de libros físicos es uno de los recursos más tradicionales y populares
                                    en las bibliotecas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="left: 50%;" class="box">
                    <div class="figure">
                        <img src="../../assets/images/landing/imagen6.png" alt="">
                        <div class="caption">
                            <div class="about">
                                <h2>Recursos digitales</h2>
                                <p>Acceso a colecciones digitales de libros antiguos, manuscritos, fotografías, mapas y
                                    otros materiales históricos.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="left: 80%;" class="box">
                    <div class="figure">
                        <img src="../../assets/images/landing/imagen 7.png" alt="">
                        <div class="caption">
                            <div class="about">
                                <h2>Servicio de Préstamo de Libros</h2>
                                <p>Está diseñado para brindarte la oportunidad de explorar un mundo de conocimiento
                                    desde la comodidad de tu hogar.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button>Ver mas</button>
        </section>

        <section class="ContGeneros">
            <h1>Artistas destacados</h1>
    
            <div class="container-art">
                <div class="card">
                    <div class="imgBx">
                        <img src="../../assets/images/landing/fantasia.png" alt="">
                    </div>
                    <div class="content-art">
                        <h2>Beret</h2>
                        <p>Un cantante, compositor y rapero español. Es conocido por su estilo musical que fusiona el rap con elementos de pop y música urbana, lo que le ha valido una gran popularidad en la escena musical española. La música de Beret se caracteriza por sus letras introspectivas y emotivas.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx">
                        <img src="../../assets/images/landing/ficcion.png" alt="Lytos">
                    </div>
                    <div class="content-art">
                        <h2>Lytos</h2>
                        <p>Un productor musical y rapero español y es conocido por su talento en la producción musical y su participación en la escena del rap y la música urbana en España. Lytos ha trabajado en la producción de música para diversos artistas, y su estilo se caracteriza por la fusión de diferentes géneros musicales,</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx">
                        <img src="../../assets/images/landing/suspenso.png" alt="Soge">
                    </div>
                    <div class="content-art">
                        <h2>Soge Culebra</h2>
                        <p>Es un rapero y compositor español. Es conocido por su destacada presencia en la escena del rap español y sus letras profundas y reflexivas. La música de Soge Culebra se caracteriza por abordar temas sociales, emocionales y personales en sus letras. </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <app-footer-landing></app-footer-landing>
    </footer>
</body>

</html>