<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalTechBooks</title>
</head>
<body>
    <header>
        <app-header-landing></app-header-landing>
    </header>

    <div class="secciones">
        <section class="descripcion">
            <h1>Servicios de Biblioteca DigitalTechBooks</h1>
            <div class="container-descripcion">
                <img src="../../assets/images/servicios-landing/libro-descripcion.png" alt="">
                <p>Bienvenido a nuestra página de servicios de DigitalTechBooks. Aquí encontrarás una amplia gama de servicios diseñados para facilitar tu experiencia en la biblioteca. Explora nuestro catálogo en línea para descubrir una gran variedad de libros y recursos. Además, obtén información sobre cómo solicitar préstamos y sugerir compras de libros para que nuestra biblioteca siga creciendo y satisfaciendo tus necesidades de lectura. Estamos aquí para ayudarte a aprovechar al máximo tu biblioteca local. ¡Comienza a explorar nuestros servicios hoy mismo!</p>
            </div>
        </section>
        <section class="prestamos">
            <h1>Préstamo de materiales</h1>
            <div class="reglas-prestamos">
                <div class="container-prestamos">
                    <h5>Préstamo de Libros Electrónicos y Recursos Digitales:</h5>
                    <ul>
                        <li>Además de los materiales físicos, también ofrecemos una amplia gama de libros electrónicos y recursos digitales. Estos materiales pueden descargarse desde nuestro sitio web o desde plataformas asociadas. Consulta nuestra sección de "Recursos Digitales" para obtener más información.</li>
                    </ul>
                </div>
                <div class="container-prestamos">
                    <h5>Duración del Préstamo:</h5>
                    <ul>
                        <li>Los libros prestados tienen una duración de préstamo de 3 semanas.</li>
                        <li>Las revistas y las películas pueden ser prestadas por 1 semana.</li>
                        <li>Otros materiales, como música o juegos, pueden tener duraciones de préstamo diferentes, así que verifica la etiqueta del material o pregunta a nuestro personal para conocer los detalles.</li>
                    </ul>
                </div>
                <div class="container-prestamos">
                    <h5>Políticas de Renovación:</h5>
                    <ul>
                        <li>Ofrecemos la opción de renovar el préstamo de tus materiales si no hay reservas pendientes para el mismo material. Puedes renovar hasta dos veces cada material.</li>
                        <li>Cada renovación extiende la duración del préstamo por el mismo período que el préstamo original. Por ejemplo, si tomaste prestado un libro por 3 semanas, una renovación adicional te otorgará 3 semanas más.</li>
                    </ul>
                </div>
            </div>
        </section>   
        <section class="servicios-disponibles">
            <h1>Servicios disponibles</h1>
            <div class="container-servicios">
                <div class="text-circulo">
                    <div class="circulo">
                        <img src="../../assets/images/servicios-landing/compu.png" alt="">
                    </div>
                    <span>Catalogo en linea</span>
                </div>
                <div class="text-circulo">
                    <div class="circulo">
                        <img style="margin-right: 24px; margin-top: 45px;" src="../../assets/images/servicios-landing/calendario.png" alt="">
                    </div>
                    <span>Reservas en línea</span>
                </div>
                <div class="text-circulo">
                    <div class="circulo">
                        <img src="../../assets/images/servicios-landing/libros.png" alt="">
                    </div>
                    <span>Prestamos en línea</span>
                </div>
                <div class="text-circulo">
                    <div class="circulo">
                        <img src="../../assets/images/servicios-landing/colaboracion.png" alt="">
                    </div>
                    <span>Servicios digitales</span>
                </div>
            </div>
        </section>     
    </div>
    <footer>
        <app-footer-landing></app-footer-landing>
    </footer>
</body>
</html>