<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>DigitalTechBooks</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <h2 class="logo">
                <a href="#">
                    <img src="../../assets/images/header/icono.png" alt="Logo" class="logo-image">
                    DigitalTechBooks
                </a>
            </h2>
    
            <input type="checkbox" id="menu-toggler">
    
            <label for="menu-toggler" id="hamburger-btn">
                <img src="../../assets/images/header/menu.png" width="40px" height="40px" alt="Menu">
            </label>
    
            <ul class="all-links">
              <li><a  routerLink="/">Inicio</a></li>
              <li><a  routerLink="/catalogo-landing">Catálogo</a></li>
              <li><a routerLink="/servicios-landing">Servicios</a></li>
              <li><a href="./page_artistas/artistas.html">Acerca de</a></li>
              <li><a href="./page_acerca/acerca.html"><button>Iniciar sesion</button></a></li>
            </ul>
            
          </nav>
    </header>
</body>
</html>