/* Estilo para el contenido del footer */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1364px;
    width: 100%;
    align-items: center;
    color: #434042;
    padding: 20px -5px -5px 0px;
    background-color: #ccc;
  }
  
  .footer-logo img {
    max-width: 40px;
    margin:  10px 0px 10px 20px;
  }
  
  .footer-bottom {
    text-align: center;
    background-color: #878585;
    padding: 10px 0px;
    margin: 0px 0px -10px;
    box-sizing: border-box;
  }
  
  .iconos-redes-sociales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 550px;
    margin-right: 15px;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid #434042;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: #434042;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid #a19da0;
  }
  
  .iconos-redes-sociales a:hover i {
    color: #a19da0;
  }